.nav {
    background-color: #fce373;
    box-shadow: none;
    border: 2px solid #e6cf6b;
    color: #231f20;
    border-radius: 6px;
    transition: all 0.5s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #e7d06b;
    color: #231f20;
    font-weight: bold;
}

.a a {
    color: #231f20;
}

.a a:hover {
    color: #554b4e;
    background-color: #e7d06b;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #e6cf6b;
    font-weight: bold;
    color: #231f20;
}

.dropdown-menu {
    background-color: #fce373;
}

.dropdown-divider {
    border-top: 1px solid #e6cf6b;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #e6cf6b;
}

.erro {
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.sucesso {
    color: rgb(75, 216, 62);
    font-size: 10px;
    font-weight: bold;
}

.table td, .table th {
    border-top: 1px solid #231f20;
}

.table thead th {
    border-bottom: 2px solid #231f20;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    background-color: transparent;
    border: 2px solid #e7d06b;   
}

.custom-select:focus {
    border-color: #231f20;
    box-shadow: 0 0 0 0.2rem rgb(230 207 107);
}

.custom-control-input:checked~.custom-control-label::before{
    color: #fff;
    border-color: #231f20;
    background-color: #231f20;
}

.modal {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerModal {
    background-color: #fce373;
    border-radius: 8px;
    height: auto;
    margin: 5% 0 5% 0;
}

.close {
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.container-form {
    width: 35%;
    margin: 5% auto 5% auto;
    border-radius: 8px;
    background-color: #f5f7f7;
    padding: 20px;
    line-height: 1.65;
}