@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

*{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    background: #fff;
    -webkit-font-smoothing: antialiased;
}