@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    background: #FCE373;
    -webkit-font-smoothing: antialiased;
}

body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
body ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: rgba(35,31,32,0.1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35,31,32,1); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(35,31,32,0.4); 
}